<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.agent.dao.role.RoleMapper">


	<resultMap type="org.agent.pojo.Role" id="roleList">
		<result property="id" column="id" />
		<result property="roleName" column="roleName" />
		<result property="creationTime" column="creationTime" />
		<result property="createdBy" column="createdBy" />
		<result property="lastUpdateTime" column="lastUpdateTime" />
		<result property="isStart" column="isStart" />
	</resultMap>

	<select id="getRoleList" parameterType="org.agent.pojo.Role"
		resultMap="roleList">
		select * from as_role
		<where>
			<if test="userName!=null">
				userName like CONCAT('%',#{userName},'%')
			</if>
			<if test="userCode!=null">
				userCode like CONCAT('%',#{userCode},'%')
			</if>
			<if test="roleId!=null">
				roleId =#{roleId}
			</if>
			<if test="isStart!=null">
				isStart =#{isStart}
			</if>
		</where>
	</select>

	<select id="getRole" parameterType="org.agent.pojo.Role"
		resultType="org.agent.pojo.Role">
		select * from as_role
		<where>
			<if test="id!=null">
				and id=#{id}
			</if>
			<if test="userCode!=null">
				and userCode =#{userCode}
			</if>
		</where>
	</select>
	<insert id="addRole" parameterType="org.agent.pojo.Role">
		insert INTO
		as_role(roleName,creationTime,createdBy,isStart)
		VALUES(#{roleName},#{creationTime},#{createdBy},#{isStart})
	</insert>

	<update id="modifyRole" parameterType="org.agent.pojo.Role">
		update as_role
		<set>
			<if test="roleName!=null">roleName = #{roleName},</if>
			<if test="creationTime!=null">creationTime=#{creationTime},</if>
			<if test="createdBy!=null">createdBy=#{createdBy},</if>
			<if test="lastUpdateTime!=null">lastUpdateTime=#{lastUpdateTime},</if>
			<if test="isStart != null"> isStart = #{isStart}</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteRole" parameterType="org.agent.pojo.Role">
		DELETE from as_role where id=#{id}
	</delete>
	
	<select id="getRoleIdAndRnameList" parameterType="org.agent.pojo.Role">
		select id,roleName from as_role where isStart=1
	</select>
</mapper>
